*{
	font-family: arial, sans-serif;
	color:#FFFFFF;
}

body {
	background:#171717;
}

#musicPlayer {
	width:420px;
	margin:0 auto;
}

#container{
	width:960px;
	min-height:1000px;
	margin:0 auto;
	border:solid;
	border-width: 5px;
	border-top:none;
	border-color: #454545;
	padding:10px;
}

header{
	width:100%;
	height:60px;
	background: #454545;
	clear:both;
}

nav {
	height:80px;
	background: #454545;
	display:inline;
	font-size: 18pt;
	padding:10px;
}

nav span {
	padding:20px 15px 20px 15px;
}

nav span:hover {
	background: #171717
}

nav span a {
	text-decoration: none;
}


#albums,
#genres,
#results {
	visibility: hidden;
}




#artists,
#albums,
#genres{
	position:absolute;
	top:145px;
	width:450px;
	margin-left:5px;
}

.artistImg {
	height:75px;
	width:75px;
}


.accordion {
	margin:0 auto;
}



#content{
	float:left;
	width:48%;
	overflow:hidden;
	height:950px;
	padding-top:10px;
	padding-bottom:10px;
	border:solid;
	border-width:5px;
	border-color:#454545;
}

#rightContent {
	min-height:950px;
	float:right;
	width:48%;
	padding-top:10px;
	padding-bottom:10px;
	border:solid;
	border-width:5px;
	border-color:#454545;
}

#player {
	position:relative;
	height:255px;
}

#Artist {
	width:100%;
	min-height: 500px;
}

hr {
	width:98%;
	margin: 0 auto;
	height:5px;
	background: #454545;
	margin-top:100px;
	border-color:  #454545;
}

#searchBar {
	line-height: 60px;
	width:230px;
	margin:0 auto;
}

#search {
	margin-top:18px;
	float:right;
	position:relative;
	width:22px;
	height:22px;
	overflow: hidden;
	border-radius: 2px;
}

#searchBox {
	width:200px;
	color:#000000;
}

form {
	position: relative;
	float:right;
}

#links {
	width:100%;
	height:300px;
}

.linkBox {
	width:27%;
	height:200px;
}

.linkBox h3 {
	color:#727272;
	font-weight: lighter;
}

.linkList {
	list-style: none;
	line-height: 25px;
	text-indent: -35px;

}

.linkList li {
	letter-spacing: 1px;
	font-weight: lighter;
}

.linkList li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#results {
	margin: 0 0 0 60px;
}

footer {
	text-align: center;
	width:100%;
	height:20px;
	line-height: 20px;
	background:#454545;
	color:#FFFFFF;
	margin-top: 40px;
	word-spacing: 5px;
	letter-spacing: 1px;
	font-weight: lighter;
}

.resultTable {
    margin: 0 auto;
	position: relative;
	top: 130px;
	right: 70px;
}

#title {
	position: relative;
	margin-top: 80px;
	left: 20px;
}

.artists{
	height:400px;
	width:400px;
	vertical-align:middle;
	margin-left:280px;
	margin-bottom:80px;
	margin-top:80px;
}

.artists h3 {
	text-align: center;
}

#lamar {
	width:100%;
	height:400px;
}

#bryan {
	width:100%;
	height:400px;
}

#park {
	width:100%;
	height:400px;
}

#skrillex {
	width:100%;
	height:400px;
}

#zeppelin {
	width:100%;
	height:400px;
}

.leftSide {
	height:300px;
	width:300px;
	float:left;
	margin-bottom:50px;
	margin-left:20px;
}

.rightSide {

	height:500px;
	width:600px;
	float:right;
}

.tracks {
	padding-right:20px;
	text-decoration: none;
	float:right;
	list-style: none;
}

.grayTrack {
	padding-right:20px;
	text-decoration: none;
	text-align: right;
	list-style: none;
	float:right;
	height:40px;
	width:100%;
	background:#454545;
	color:#FFFFFF;
}

.blackTrack {
	height:50px;
	width:100%;
	background:#000000;
	color:#FFFFFF;
}

#albumCover {
	margin-top:30px;
	float:left;
	width:300px;
	height:300px;
}

#albumCover img {
	height:300px;
	width:300px;
	float:left;
}

#about {
	float:right;
	width:500px;
	max-height: 400px;
}

#skrillBio {
	margin-top:20px;
}
