*{
	font-family: arial, sans-serif;
	color:#FFFFFF;
}

body {
	background:#171717;
}

#container{
	width:960px;
	min-height:710px;
	margin:0 auto;
	border:solid;
	border-width: 5px;
	border-top:none;
	border-color: #454545;
	padding:10px;
}

header{
	width:100%;
	height:60px;
	background: #454545;
	clear:both;
}

header nav {
	width:960px;
	height:60px;
	margin:0 auto;
	text-align: left;
	line-height: 60px;
}

header nav ul {
	list-style:none;
	word-spacing: 35px;

}

header nav ul li {
	display: inline;

}

nav ul a {
	text-decoration: none;
	color:#FFFFFF;
	font-weight: bolder;
	letter-spacing: 1px;
	font-size: 18pt;
	font-weight: lighter;
}

header nav ul span{
	height:100%;
	padding:16px;
	padding-top:18px;
}

header nav ul span:hover {
	border-top:solid;
	border-bottom:solid;
	border-width: 4px;
	border-color: #FFFFFF;
}

#content{
	padding-top:100px;
}

#player {
	position:relative;
	height:255px;
}

#Artist {
	width:100%;
	min-height: 500px;
}

hr {
	width:98%;
	margin: 0 auto;
	height:5px;
	background: #454545;
	margin-top:100px;
	border-color:  #454545;
}

#search {
	float:right;
	position:relative;
	width:22px;
	height:22px;
	overflow: hidden;
	border-radius: 2px;
	margin:20px 40px 0 10px;
}

#searchBox {
	color:#000000;
	padding-left:3px;
}

form {
	position: relative;
	float:right;
}

#links {
	width:100%;
	height:300px;
}

.linkBox {
	width:27%;
	height:200px;
}

.linkBox h3 {
	color:#727272;
	font-weight: lighter;
}

.linkList {
	list-style: none;
	line-height: 25px;
	text-indent: -35px;

}

.linkList li {
	letter-spacing: 1px;
	font-weight: lighter;
}

.linkList li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#artLinks {
	position:relative;
	float:left;
	margin:50px 30px 50px 90px;
}

#albLinks {
	position:relative;
	float:left;
	margin:50px 0px 50px 20px;
}

#genLinks {
	position:relative;
	float:right;
	margin:50px 0px 50px 30px;
}

#results {
	margin: 0 0 0 60px;
}

footer {
	text-align: center;
	width:100%;
	height:20px;
	line-height: 20px;
	background:#454545;
	color:#FFFFFF;
	margin-top: 40px;
	word-spacing: 5px;
	letter-spacing: 1px;
	font-weight: lighter;
}

.resultTable {
    margin: 0 auto;
	position: relative;
	top: 130px;
	right: 70px;
}

#title {
	position: relative;
	margin-top: 80px;
	left: 20px;
}

.artists{
	height:400px;
	width:400px;
	vertical-align:middle;
	margin-left:280px;
	margin-bottom:80px;
	margin-top:80px;
}

.artists h3 {
	text-align: center;
}

#lamar {
	width:100%;
	height:400px;
}

#bryan {
	width:100%;
	height:400px;
}

#park {
	width:100%;
	height:400px;
}

#skrillex {
	width:100%;
	height:400px;
}

#zeppelin {
	width:100%;
	height:400px;
}

.leftSide {
	height:300px;
	width:300px;
	float:left;
	margin-bottom:50px;
	margin-left:20px;
}

.rightSide {

	height:500px;
	width:600px;
	float:right;
}

.tracks {
	padding-right:20px;
	text-decoration: none;
	float:right;
	list-style: none;
}

.grayTrack {
	padding-right:20px;
	text-decoration: none;
	text-align: right;
	list-style: none;
	float:right;
	height:40px;
	width:100%;
	background:#454545;
	color:#FFFFFF;
}

.blackTrack {
	height:50px;
	width:100%;
	background:#000000;
	color:#FFFFFF;
}

#albumCover {
	margin-top:30px;
	float:left;
	width:300px;
	height:300px;
}

#albumCover img {
	height:300px;
	width:300px;
	float:left;
}

#about {
	float:right;
	width:500px;
	max-height: 400px;
}

#skrillGenre {
	margin-top:-380px;
}

